################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/deleteme/FileContentIndex
/.vs/deleteme/v17
